<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/admin.css">
</head>

<body>
    <header>
        <div class="header">  
            <a href="/admin">
            <img src="images/logo-admin.png" alt="logo" >                  
        </a>   
            <a class="menu" href="/admin">RECEITAS</a>
            <a class="menu" href="/admin_chefs">CHEFS</a>  
          </div>
          
    </header>
  
    <main>
         {% block content %} {% endblock content %} 
    </main>
</body>


</html>