<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
 {% include 'parts/style_admin.njk'%}
</head>

<body>
    <header>
        <div class="header">  
            <img src="/images/logo-admin.png" alt="logo" >                    
            <a class="menu" href="/admin/recipes">RECEITAS</a>
            <a class="menu" href="/admin/chef">CHEFS</a>  
            {% if session.is_admin == true %}
                <a class="menu" href="/admin/users">USUÁRIOS</a>  
            {% endif %}
            {% if session.is_admin == false %}
                <a class="menu" href="/admin/myaccount">MINHA CONTA</a>  
            {% endif %}
            <a class="logout" href="/admin/logout">Sair</a> 
          </div>
          
    </header>
  
    <main>
         {% include 'parts/message.njk'%}

         {% block content %} {% endblock content %} 
    </main>
    <script src="/script.js"></script>
</body>


</html>