{% extends "layout.njk" %}

{% block content %}


    <div id="wrapper">
        <img src="https://avatars1.githubusercontent.com/u/2254731?s=400&v=4" alt="Diego">
        <h1>Diego CEO da RocketSeat</h1>
        <p>Instrutor da <a href="https://rocketseat.com.br/" target="_blank">RocketSeat</a></p>
    </div>

    <div id="link-footer" class="menu">
        <a href="https://github.com/" target="_blank">Github</a>
        <a href="https://www.instagram.com/" target="_blank">Instagram</a>
        <a href="https://www.facebook.com/" target="_blank">Facebook</a>


    </div>
    
{% endblock content %}


