<!DOCTYPE html>
<html>

<head>
    <title> RocketSeat</title>
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    <link href="https://fonts.googleapis.com/css?family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
    {% block header %}  {% endblock header %}
    
</head>
<body>
    <header>
        <div class="Menu">
            <a href="/">Sobre</a>
            <a href="/portfolio">Aulas</a>

        </div>
    </header>

 {% block content %} {% endblock  %} 

</body>



</html>