{% extends "administrator/layout.njk" %}

{% block content %}
<section class="cards">
        <div class="titleandbutton"> 
            <h1>Receita: {{food.title}}</h1> <a href="/admin/recipe/edit/{{food.id}}">Editar Receita</a>
        </div>
        
                <div class="container-page-recipe" id="{{food.image}}">
                    <div class="card-image recipe">
                        <img src="{{food.image}}" alt="{{food.title}}">
                    </div>
                    <div class="receipts-content">
                        <h1 >{{food.title}}</h1>
                        <p >por {{food.author}}</p>
                    </div>
                    


                    <div class="receipts-info">
                        <div class="flex">
                            <h1>Ingredientes</h1>  
                        </div>
                        <div class="content-ingredients" id="ingredients">
                            {% for ingredients in food.ingredients %}
                        
                                <li>- {{ingredients}}</li>

                            {% endfor %}
                         </div>
                    </div>



                    <div class="preparation-info">
                        <div class="flex">
                            <h1>Modo de preparo</h1> 
                        </div>
                        <div class="content-preparation" id="preparation">
                            {% for preparation in food.preparation %}

                                <li>- {{preparation}}</li>

                            {% endfor %}
                        </div>
                    </div>

                    <div class="information">
                    <div class="flex">
                        <h1>Informações adicionais</h1> 
                    
                        
                    </div>

                    <div class="content-information" id="information">
                        <p id="p-footer">{{food.information}}</p>
                    </div>
                    </div>

                    

                </div>
 

        </section>



{% endblock content %}