{% extends "site/layout.njk" %}
{% block content %}


<div class="container-chefs">
         {% for chef in chefs %}

            <div class="chef">
                <div class="chef-image">
                   <img src="{{chef.src}}" alt="">
                </div>
                {% for chefTotal in chefsTotal %}
                    {% if chef.id == chefTotal.id %}
                        <div class="chef-content">
                            <span class="chef-span">{{chef.name}} </span>
                            <p>{{chefTotal.total}} receitas</p>         
                        </div>
                    {% endif %}
                {% endfor %}
            </div>

        {% endfor %}  
    </div>




{% endblock content %}

