{% extends "site/layout.njk" %}
{% block content %}


<div class="container-chefs">
         {% for chef in chefs %}

            <div class="chef">
                <div class="chef-image">
                   <img src="{{chef.avatar_url}}" alt="">
                </div>
                <div class="chef-content">
                    <span class="chef-span">{{chef.name}} </span>
                    <p>{{chef.total}} receitas</p>
                    
                </div>
            </div>

        {% endfor %}  
    </div>




{% endblock content %}

