<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
  {% include 'parts/style_foodfy.njk'%}
</head>
<body>
    <header>
        <a href="/">
            <img src="images/logo.png" alt="logo" >
        </a>
            <a  class="menu"  href="/sobre"> Sobre</a>
            <a  class="menu"  href="/receitas" > Receitas</a> 
            <a  class="menu"  href="/chefs" > Chefs</a> 
            {% block search %}
            {% endblock search %}
           
               
    </header>

  {% block content %} {% endblock  %}   

    <footer>
       
    Todos direitos reservados, receitas Foodfy.
      
    </footer>



</body>







</html>