*{
    margin:0px;
    padding: 0px;
    border: 0px;
}
section form{
    background-color: white;
    padding: 32px 24px;
    margin: 32px auto;
    box-shadow: 2px 2px 2px -3px rgba(60,60,60,.9);
    border: 2px solid #efefef;
    border-radius: 4px;
    width: 90%;
}

.logo {
    display: flex;
    justify-content: center;

    margin-top: 35px;

    margin-bottom: 145px;
}
.login.container.form {
    max-width: 500px;
    margin: 0 auto;
}

.header {
    font-family: 'Roboto';
    font-size: 24px;
    color: #111111;
    text-align: center;

    margin-bottom: 35px;
}

.fields .item div:first-child {
    font-size: 16px;
    font-family: 'Roboto';
    font-weight: bold;
    color: #111111;

    margin-bottom: 10px;
}
.fields .item .input {
    
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;

    margin-bottom: 64px; 

}
.fields .item .input:last-child {
    margin-bottom: 35px;
}
.options {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.options a {
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    color: #969696;
}


.button {
    background: #6558C3;
    color: #FFFFFF;
    font-size: 16px;
    border-radius: 4px;
    padding: 8px 32px;

    cursor: pointer;
    
}
.fields .item .input input {
    width: 100%;
    font-family: 'Roboto';
    font-size: 16px;
    line-height: 32px;
    color: #999999;
    padding: 10px;
    box-sizing: border-box;
}
