{% extends "layout.njk" %}
{% block content %}

    <div class="base">
        <h1>As melhores receitas</h1>
        <img id ="chef" src="/chef.png" alt="chef">
        <p>Aprenda a construir os melhores preatos com receitas criadas por profissionais do mundo inteiro.</p>


    </div>

    <main>
        <h1 id="title"> Mais acessadas</h1>

        <section class="cards">

            {% for food in foods %}
            
                <div class="card" id="{{food.name}}">
                    <div class="card-image">
                        <img src="{{food.source}}" alt="{{food.name}}">
                    </div>
                    <div class="card-content">
                        <h1>{{food.title}}</h1>
                    </div>
                    <div class="card-info">
                        <p>por {{food.actor}}</p>
                    </div>
                </div>
            {% endfor %}
        </section>
    </main>


{% endblock content %}




