<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="/styles.css">

</head>
<body>
    <header>
        <a href="/">
            <img src="/logo.png" alt="logo" >
        </a>
       
            <a  class="menu"  href="/sobre"> Sobre</a>
            <a  class="menu"  href="/receitas" > Receitas</a> 
               
    </header>

  {% block content %} {% endblock  %}   

    <footer>
        <div class="rodape">
            <p>Todos direitos reservados, receitas Foodfy.</p>
        </div>
    </footer>



</body>







</html>