 <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/styles/admin.css">
<link rel="stylesheet" href="/styles/message-admin.css">
<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
rel="stylesheet">