<link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
<link rel="stylesheet" href="/styles/session.css">
<link rel="stylesheet" href="/styles/message.css">
<link href="https://fonts.googleapis.com/css2?family=Gothic+A1:wght@700&family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">