  <div class="item">
    <h3>Nome</h3>
    <input 
    type="text" 
    name="name" 
    value="{{chef.name}}"
    placeholder="Nome"
    >
    </div>

    <div class="item">
    <h3>Avatar</h3>

    {% if file.src %}
        <input 
        type="text" 
        value="{{file.src}}"
        >
    {% endif %}

    <div id="photo-upload">
   
       <input 
       id="photos-input" 
       type="file" 
       name="photochef" 
       multiple
       accept="image/*" 
       onchange="PhotosUpload.handleInputChef(event)"
       >

 

       <p>Enviar avatar</p>
    </div>
    </div>